coverage
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

yarn.lock
npm-debug.log
node_modules
bower_components

NOTES.txt

pubruleschecker
scratch

# mac files
.DS_Store
*/.DS_Store

.nyc_output
.eslintcache

# TS build output
app.js
*.d.ts
!lib/types.d.ts
lib/**/*.js
