<div class="row">
  <div class="col-md-12">
    {{{nav}}}
    <p><a href="{{BASE_URI}}">&uarr; up to Pubrules home</a></p>
    <h2>Whut?</h2>
    <p><img class="filler"
      src="https://c1.staticflickr.com/5/4041/4517822872_d79bb14014.jpg"
      alt="Hard at work" /></p>
  </div>
</div>
