<div class="row">
  <div class="col-md-12">
    {{{nav}}}
    <p><a href="{{BASE_URI}}">&uarr; up to Pubrules home</a></p>
    <h2>Help</h2>

    <h3 id="intro"><a href="#intro">Introduction to Pubrules</a></h3>
    <p>[@TODO]</p>

    <h3 id="tutorials"><a href="#tutorials">Tutorial &amp; <em>howto</em>'s</a></h3>
    <p>[@TODO]</p>

    <h3 id="faq"><a href="#faq"><abbr title="Frequently Asked Questions">FAQ</abbr></a></h3>
    <p>[@TODO]</p>

    <h3 id="reference"><a href="#reference">Reference (manual use and <abbr title="Application Programming Interface">API</abbr>)</a></h3>
    <ul>
      <li>See the <a href="https://github.com/w3c/specberus/blob/master/README.md">README</a></li>
      <li>REST API endpoint: <a href="{{BASE_URI}}api/"><code>{{BASE_URI}}api/</code></a></li>
    </ul>

    <h3 id="channels"><a href="#channels">Channels</a></h3>
    <ul>
      <li>W3C's <a href="https://www.w3.org/wiki/IRC">public <abbr title="Internet Relay Chat">IRC</abbr> server</a>: channel
        <strong><a href="irc:#pubrules"><code>#pubrules</code></a></strong></li>
      <li>Public mailing list:
        <strong><a href="https://lists.w3.org/Archives/Public/public-pubrules-comments/"><code>public-pubrules-comments@w3.org</code></a></strong></li>
      <li>Source code on GitHub: <strong><a href="https://github.com/w3c/specberus"><code>w3c/specberus</code></a></strong></li>
    </ul>

  </div>
</div>
