<div class="row">
  <div class="col-md-12">
    {{{nav}}}
    <h2>Specberus</h2>
    <p>Welcome to <a href="https://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a>'s <em>Specberus</em>.</p>
  </div>
</div>

<div class="row">
  <div class="panel panel-default col-md-5">
    <a href="/doc">
      <div class="panel-body">Read <strong>the docs</strong></div>
    </a>
  </div>
  <div class="col-md-2"></div>
  <div class="panel panel-default col-md-5">
    <a href="/check">
      <div class="panel-body"><strong>Check</strong> your document</div>
    </a>
  </div>
</div>
