<div class="row">
  <div class="col-md-12">
    {{{nav}}}
    <p><a href="../">&uarr; up to Specberus home</a></p>
    <h2>Sitemap</h2>
    <ul>
      <li>
        <a href="/">Home</a>
        <ul>
          <li>
            <a href="/doc/">Documentation</a>
            <ul>
              <li><a href="/doc/rules/">Publication rules</a></li>
              <li><a href="/doc/transitions/">Transition rules</a></li>
            </ul>
          </li>
          <li><a href="/check/">Checker</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/sitemap/">Sitemap</a></li>
          <li><a href="/help/">Help</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
