<div class="row">
  <div class="col-md-12">
    {{{nav}}}
    <p><a href="{{BASE_URI}}">&uarr; up to Pubrules home</a></p>
    <h2>Coming soon!</h2>
    <p><img class="filler"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Lewis_Hine_Power_house_mechanic_working_on_steam_pump.jpg/345px-Lewis_Hine_Power_house_mechanic_working_on_steam_pump.jpg"
      alt="Hard at work" /></p>
  </div>
</div>
