body {
    padding-top: 70px;
}

.container-fluid {
    max-width: 1170px;
}

img.filler {
    margin: 1em 0;
    text-align: center;
    box-shadow: 0 2px 12px #404040;
}

.navbar img {
    height: 40px;
}

.navbar .contribute a {
    color: #ffffff;
    opacity: 0.5;
}

.navbar img:not(logo) {
    display: inline;
    margin-right: 5px;
}

.navbar img.logo {
    margin: 0 20px 0 15px;
}

.navbar img.logo:focus,
.navbar img.logo:hover,
.navbar img.logo:active {
    box-shadow: -2px 0 16px #ffffff, 2px 0 16px #ffffff, 0 -2px 16px #ffffff;
}

#infoLink {
    display: none;
    opacity: 1;
}

#progressBar,
#summary,
#results {
    display: none;
}

#summary .badge {
    background-color: #ff8080;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand a,
.contribute {
    color: #fff;
}

.contribute {
    padding: 25px 0 0 0;
}

.horizontal-form .form-group {
    padding-bottom: 30px;
}

header.navbar-inverse {
    background: linear-gradient(
        to bottom,
        rgb(7, 62, 128) 0px,
        rgb(0, 45, 80) 100%
    );
}

ul.error,
ul.warning,
ul.info {
    padding: 0;
}

span.bg-warning,
span.bg-danger,
span.bg-info {
    font-variant: small-caps;
    padding: 0 0.25em;
    margin: 0 0.5em 0 0;
}

td.results a {
    text-decoration: underline;
}

.btn-group .btn-primary {
    background-color: #ffffff;
    color: #808080;
}

.btn-group .btn-primary.active {
    background-color: #f0f0f0;
    color: #000000;
}

blockquote {
    font-size: small;
    background-color: #f0f0f0;
    border: 0;
    margin: 5px 0 5px;
}

form .manual {
    display: none;
}

form.manual .manual {
    display: block;
}

.rules *:target {
    background-color: #ffff80;
}

span.rfc2119 {
    padding: 0 0.25em;
    background-color: #e0ffe0;
    border: 1px solid #e0ffe0;
    border-radius: 4px;
}

span.subset {
    display: none;
}

input[type='url'] {
    font-family: monospace;
}

span.info {
    margin: 0;
    padding: 0 0.45em;
    background-color: #8080ff;
    border: 0 solid #8080ff;
    border-radius: 0.5em;
    color: #ffffff;
    font-weight: bold;
}

.tooltip,
.tooltip-inner {
    background-color: #8080ff;
    color: #ffffff;
    font-size: 1em;
}

.tooltip-arrow {
    display: none;
}

.profile-abbr {
    display: inline-block;
    font-family: monospace;
    min-width: 9em;
    padding-right: 0.5em;
}

.profile-abbr:hover,
.profile-abbr:active,
.profile-abbr:focus,
:hover > .profile-abbr,
:active > .profile-abbr,
:focus > .profile-abbr {
    text-decoration: underline;
}

.panel-title a {
    color: #337ab7;
}

option:disabled {
    color: #c0c0c0;
    text-decoration: line-through;
}

#check1,
form.manual #check2 {
    display: block;
}

#check2,
form.manual #check1 {
    display: none;
}

span.icon {
    font-size: 6rem;
    font-weight: bold;
    vertical-align: middle;
    text-shadow: 0 0.5rem 0.5rem #c0c0c0;
    line-height: 4rem;
    margin-right: 0.2em;
}

span.icon.green {
    color: #5cb85c;
}

span.icon.amber {
    color: #f0ad4e;
}

span.icon.red {
    color: #d9534f;
}

p.details {
    clear: both;
    margin-top: 3.5rem;
}

.form-group:last-child {
    margin-bottom: 0;
}

#results .list-group-item {
    padding-left: 0.5em;
    border-left-width: 0.5em;
    border-left-color: transparent;
    border-left-style: solid;
}

#results .list-group-item a {
    text-decoration: underline;
}

#results .list-group-item.exception {
    background-color: #ffffe0;
}

#results .list-group-item .message,
#results .list-group-item .quote {
    margin-left: 5em;
    margin-right: 9em;
}

#results .list-group-item .quote {
    color: gray;
    padding-left: 1em;
    border-left-style: double;
    font-style: italic;
}

#results .list-group-item .message + .quote,
#results .list-group-item .message + .message,
#results .list-group-item .quote + .message {
    margin-top: 1em;
}

#results .list-group-item .detailed {
    margin-top: -0.5em;
    margin-right: -0.5em;
    line-height: 1em;
    visibility: hidden;
}

#results .list-group-item:hover {
    background-color: #fcfcfc;
    border-left-color: #c0c0c0;
}

#results .list-group-item:hover .detailed {
    visibility: visible;
}

.alert.alert-info a {
    text-decoration: underline;
}
