
body {
    padding-top:    70px;
}

.container {
    max-width:  800px;
}

.navbar img {
    height: 40px;
}

.navbar .contribute a {
    color: #ffffff;
    opacity: 0.5;
}

.navbar img:not(logo) {
    margin-right: 5px;
}

.navbar img.logo {
    margin: 0 20px 0 15px;
}

.navbar img.logo:focus, .navbar img.logo:hover {
    -moz-box-shadow:    0 0 20px #ffffff;
    -webkit-box-shadow: 0 0 20px #ffffff;
    box-shadow:         0px 0px 20px #ffffff;
}

#progressBar, #summary {
    display: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand a, .contribute {
    color:  #fff;
}

.contribute {
    padding: 25px 0 0 0;
}

.horizontal-form .form-group {
    padding-bottom: 30px;
}

header.navbar-inverse {
    background: linear-gradient(to bottom, rgb(7, 62, 128) 0px, rgb(0, 45, 80) 100%)
}

ul.error, ul.warning, ul.info {
    padding:    0;
}

span.bg-warning, span.bg-danger, span.bg-info {
    font-variant: small-caps;
    padding: 0 0.25em;
    margin: 0 0.5em 0 0;
}

td.results a {
    text-decoration: underline;
}

#processDocument .btn-primary {
    background-color: #ffffff;
    color: #808080;
}

#processDocument .btn-primary.active {
    background-color: #f5f5f5;
    color: #000000;
}

