<div class="row">
  <div class="col-md-12">
    {{{nav}}}
    <p><a href="../">&uarr; up to Specberus home</a></p>
    <h2>Specberus documentation</h2>

    <h3>Publication rules</h3>
    <ul>
      {{#each profiles}}
        <li><a href="/doc/rules?profile={{this.abbr}}">{{this.name}} ({{this.abbr}})</a></li>
      {{/each}}
    </ul>

    <h3>Transitions</h3>
    <p><a href="/doc/transitions/">Coming soon</a></p>

  </div>
</div>
