<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Specberus documentation</h2>
      <p>Coming soon.</p>
      <p>In the meantime, refer to these resources:</p>
      <ul>
        <li>W3C's <a href="https://www.w3.org/wiki/IRC">public <abbr title="Internet Relay Chat">IRC</abbr> server</a>: channel
          <strong><a href="irc:#pubrules"><code>#pubrules</code></a></strong></li>
        <li>Public mailing list:
          <strong><a href="https://lists.w3.org/Archives/Public/public-pubrules-comments/"><code>public-pubrules-comments@w3.org</code></a></strong></li>
        <li>Source code on GitHub: <strong><a href="https://github.com/w3c/specberus"><code>w3c/specberus</code></a></strong></li>
      </ul>
    </div>
  </div>
</div>
