name: Lint JS

on:
  push:
    paths:
      - "**/*.js"
      - "jsdoc.json"
      - "package.json"
  pull_request:
    paths:
      - "**/*.js"
      - "jsdoc.json"
      - "package.json"

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x]
    steps:
    - uses: actions/checkout@v2.4.0

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm

    - run: npm ci

    - run: npm run lint

    - run: npm run jsdoc
