name: Specberus tests

on:
  push:
    branches: [ main ]
  pull_request_target:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x]
    env:
      W3C_API_KEY: ${{ secrets.W3C_API_KEY }}
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2.1.2
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm install

    - run: npm run lint

    - run: npm run hint

    - run: npm run jsdoc

    - run: npm run coverage
      if: env.W3C_API_KEY != ''
      env:
        SKIP_NETWORK: true

    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v1.1.2
      if: env.W3C_API_KEY != ''
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Notify failure
      uses: rectalogic/notify-irc@v1
      if: failure()
      with:
        server: "irc.w3.org"
        port: 6679
        channel: "#pubrules"
        nickname: gh-action-notifier
        tls: true
        message: |
          ${{ github.actor }} pushed to ${{ github.repository }}. https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }} FAILED with node ${{ matrix.node-version}} (PR: ${{ github.event.pull_request.html_url }})
